:root {
  color-scheme: light dark;
  --bg: #f9fafb;
  --fg: #0b1120;
  --card: #ffffff;
  --accent: #0b7a58;
  --accent-contrast: #ffffff;
}

.dark {
  --bg: #111b2f;
  --fg: #f8fafc;
  --card: #1b253d;
  --accent: #0b7a58;
  --accent-contrast: #ffffff;
}
